@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --font-body: 'Roboto', sans-serif;
  --font-heading: 'Inter', sans-serif;
  --border-color: #eee;
  --text-color: #333;
  --nav-color: #777;
}

html {
  font-size: 16px;
  color: var(--text-color);
}

body {
  flex-direction: column;
  min-height: 100dvh;
  display: flex;
}

header {
  background: #fff;
  position: sticky;
  top: 0;
  border-bottom: 1px solid #eee;
  font-family: var(--font-heading);
  margin: 0;
}

main {
  flex-grow: 1; /* push footer to the bottom */
  font-family: var(--font-body);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 1160px;

  & ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

.nav-clickable {
  display: inline-block;
  font-size: 1.2rem;
  color: var(--nav-color, #333);
  padding: 0.8rem 1rem;
  margin: 0 0.25rem;
  border-radius: .5rem;
  text-decoration: none;
  transition: transform 0.2s, background-color 0.2s;
}

.nav-clickable:hover {
  background-color: #f4f4f4;
  cursor: pointer;
  transform: translateY(-2px) scale(1.05);
}

.nav-brand {
  font-size: 1.3rem;
  font-weight: 600;
  color: #5a5353;
  text-decoration: none; /* remove underline */
  padding: 0.8rem 2rem;
}

.nav-active {
  color: blue;
}

.home-container {
  display: flex;
  flex-direction: row;
  margin: 1rem auto;
  padding: 0 1rem;
  max-width: 1160px;
}

.home-left {
  flex-basis: 250px;
  flex-shrink: 0;
  padding: 2rem 2rem;
}

.home-left > img {
  border-radius: 50%;
  height: 150px;
  width: 150px;
}

.home-left a {
  text-decoration: none;
  font-weight: 500;
  color: var(--font-body);
  display: block; 
  padding-top: .6rem;
  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

.home-right {
  flex-grow: 1;
}

.projects-container {
  display: flex;
  flex-direction: column;
  margin: 2rem auto;
  padding: 0 1rem;
  max-width: 1160px;
}

.projects-container h1 {
  font-family: var(--font-heading);
  font-size: 2rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

.projects-container h2 {
  font-family: var(--font-heading);
  font-size: 1.5rem;
  border-bottom: 2px solid var(--border-color);
  padding-bottom: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.project-card {
  border: 1px solid var(--border-color);
  border-radius: .5px;
  padding: 0 1.5rem;
  margin-bottom: 1.5rem;
  background: #fff;
  transition: box-shadow 0.2s ease-out, transform 0.2s ease-out;
}

.project-card:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  transform: translateY(-3px);
}

footer {
  border-top: 1px solid #eee;
  text-align: center;
  padding: .6rem 0;
  font-size: 0.8rem;
  color: #777;
}